openapi: 3.2.0
info:
  title: Teradata QueryGrid Manager Users API
  description: REST API for centralized administration and monitoring of Teradata QueryGrid, the data fabric that enables seamless cross-system analytics. Manage data centers, systems, bridges, connectors, links, fabrics, networks, and node configurations.
  version: '3.6'
  contact:
    name: Teradata
    url: https://www.teradata.com
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://querygrid.teradata.com/api/v1
  description: Default QueryGrid Manager endpoint
security:
- BasicAuth: []
tags:
- name: Users
paths:
  /users:
    get:
      operationId: listUsers
      summary: Teradata List Users
      description: Retrieve all QueryGrid users and their role mappings.
      tags:
      - Users
      responses:
        '200':
          description: List of users retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    User:
      type: object
      description: A QueryGrid user with role mappings.
      properties:
        username:
          type: string
          description: Username.
          example: admin
        roles:
          type: array
          items:
            type: string
          description: Assigned roles.
          example:
          - admin
          - operator
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with QueryGrid Manager credentials.
