openapi: 3.2.0
info:
  title: Teradata QueryGrid Manager API Info API
  description: REST API for centralized administration and monitoring of Teradata QueryGrid, the data fabric that enables seamless cross-system analytics. Manage data centers, systems, bridges, connectors, links, fabrics, networks, and node configurations.
  version: '3.6'
  contact:
    name: Teradata
    url: https://www.teradata.com
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://querygrid.teradata.com/api/v1
  description: Default QueryGrid Manager endpoint
security:
- BasicAuth: []
tags:
- name: API Info
paths:
  /:
    get:
      operationId: getApiInfo
      summary: Teradata Get API Info
      description: Retrieve API version and status information.
      tags:
      - API Info
      responses:
        '200':
          description: API information retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInfo'
              examples:
                GetApiInfo200Example:
                  summary: Default getApiInfo 200 response
                  x-microcks-default: true
                  value:
                    version: '3.6'
                    build: 03.06.00.01
                    status: running
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ApiInfo:
      type: object
      description: QueryGrid Manager API information.
      properties:
        version:
          type: string
          description: API version number.
          example: '3.6'
        build:
          type: string
          description: Build version string.
          example: 03.06.00.01
        status:
          type: string
          description: Current API status.
          example: running
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with QueryGrid Manager credentials.
