openapi: 3.2.0
info:
  title: Teradata QueryGrid Manager Issues API
  description: REST API for centralized administration and monitoring of Teradata QueryGrid, the data fabric that enables seamless cross-system analytics. Manage data centers, systems, bridges, connectors, links, fabrics, networks, and node configurations.
  version: '3.6'
  contact:
    name: Teradata
    url: https://www.teradata.com
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://querygrid.teradata.com/api/v1
  description: Default QueryGrid Manager endpoint
security:
- BasicAuth: []
tags:
- name: Issues
paths:
  /issues:
    get:
      operationId: listIssues
      summary: Teradata List Issues
      description: Retrieve all current issues across the QueryGrid environment.
      tags:
      - Issues
      responses:
        '200':
          description: List of issues retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issue'
              examples:
                ListIssues200Example:
                  summary: Default listIssues 200 response
                  x-microcks-default: true
                  value:
                  - id: '100001'
                    severity: warning
                    message: Bridge connection timeout detected
                    source: bridge-east-01
                    timestamp: '2026-04-18T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Issue:
      type: object
      description: An issue detected in the QueryGrid environment.
      properties:
        id:
          type: string
          description: Unique issue identifier.
          example: '100001'
        severity:
          type: string
          description: Issue severity level.
          enum:
          - info
          - warning
          - error
          - critical
          example: warning
        message:
          type: string
          description: Issue description message.
          example: Bridge connection timeout detected
        source:
          type: string
          description: Source component of the issue.
          example: bridge-east-01
        timestamp:
          type: string
          format: date-time
          description: Time when the issue was detected.
          example: '2026-04-18T10:30:00Z'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with QueryGrid Manager credentials.
