openapi: 3.2.0
info:
  title: Teradata QueryGrid Manager Software API
  description: REST API for centralized administration and monitoring of Teradata QueryGrid, the data fabric that enables seamless cross-system analytics. Manage data centers, systems, bridges, connectors, links, fabrics, networks, and node configurations.
  version: '3.6'
  contact:
    name: Teradata
    url: https://www.teradata.com
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://querygrid.teradata.com/api/v1
  description: Default QueryGrid Manager endpoint
security:
- BasicAuth: []
tags:
- name: Software
paths:
  /software:
    get:
      operationId: listSoftware
      summary: Teradata List Software
      description: Retrieve available software packages and JDBC drivers.
      tags:
      - Software
      responses:
        '200':
          description: List of software packages retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Software'
              examples:
                ListSoftware200Example:
                  summary: Default listSoftware 200 response
                  x-microcks-default: true
                  value:
                  - name: querygrid-tdplugin
                    version: 03.06.00.01
                    type: plugin
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Software:
      type: object
      description: A software package available for installation.
      properties:
        name:
          type: string
          description: Software package name.
          example: querygrid-tdplugin
        version:
          type: string
          description: Package version.
          example: 03.06.00.01
        type:
          type: string
          description: Package type.
          example: plugin
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with QueryGrid Manager credentials.
