openapi: 3.2.0
info:
  title: Teradata QueryGrid Manager Configuration API
  description: REST API for centralized administration and monitoring of Teradata QueryGrid, the data fabric that enables seamless cross-system analytics. Manage data centers, systems, bridges, connectors, links, fabrics, networks, and node configurations.
  version: '3.6'
  contact:
    name: Teradata
    url: https://www.teradata.com
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://querygrid.teradata.com/api/v1
  description: Default QueryGrid Manager endpoint
security:
- BasicAuth: []
tags:
- name: Configuration
paths:
  /config/datacenters:
    get:
      operationId: listDataCenters
      summary: Teradata List Data Centers
      description: Retrieve all configured data centers.
      tags:
      - Configuration
      responses:
        '200':
          description: List of data centers retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataCenter'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createDataCenter
      summary: Teradata Create Data Center
      description: Create a new data center configuration.
      tags:
      - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataCenter'
            examples:
              CreateDataCenterRequestExample:
                summary: Default createDataCenter request
                x-microcks-default: true
                value:
                  name: dc-east-01
                  description: East coast primary data center
                  location: US-East
      responses:
        '201':
          description: Data center created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCenter'
        '400':
          description: Invalid data center configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /config/systems:
    get:
      operationId: listSystems
      summary: Teradata List Systems
      description: Retrieve all configured systems.
      tags:
      - Configuration
      responses:
        '200':
          description: List of systems retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/System'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSystem
      summary: Teradata Create System
      description: Register a new system in QueryGrid.
      tags:
      - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/System'
      responses:
        '201':
          description: System created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System'
        '400':
          description: Invalid system configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /config/bridges:
    get:
      operationId: listBridges
      summary: Teradata List Bridges
      description: Retrieve all configured bridges.
      tags:
      - Configuration
      responses:
        '200':
          description: List of bridges retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bridge'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createBridge
      summary: Teradata Create Bridge
      description: Create a new bridge between systems.
      tags:
      - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bridge'
      responses:
        '201':
          description: Bridge created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bridge'
        '400':
          description: Invalid bridge configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /config/connectors:
    get:
      operationId: listConnectors
      summary: Teradata List Connectors
      description: Retrieve all configured connectors.
      tags:
      - Configuration
      responses:
        '200':
          description: List of connectors retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Connector'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createConnector
      summary: Teradata Create Connector
      description: Create a new connector for system integration.
      tags:
      - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
      responses:
        '201':
          description: Connector created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
        '400':
          description: Invalid connector configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /config/links:
    get:
      operationId: listLinks
      summary: Teradata List Links
      description: Retrieve all configured links between systems.
      tags:
      - Configuration
      responses:
        '200':
          description: List of links retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Link'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createLink
      summary: Teradata Create Link
      description: Create a new link between connected systems.
      tags:
      - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Link'
      responses:
        '201':
          description: Link created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: Invalid link configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /config/fabrics:
    get:
      operationId: listFabrics
      summary: Teradata List Fabrics
      description: Retrieve all configured fabrics.
      tags:
      - Configuration
      responses:
        '200':
          description: List of fabrics retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fabric'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createFabric
      summary: Teradata Create Fabric
      description: Create a new data fabric configuration.
      tags:
      - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fabric'
      responses:
        '201':
          description: Fabric created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fabric'
        '400':
          description: Invalid fabric configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /config/networks:
    get:
      operationId: listNetworks
      summary: Teradata List Networks
      description: Retrieve all configured networks.
      tags:
      - Configuration
      responses:
        '200':
          description: List of networks retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Network'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNetwork
      summary: Teradata Create Network
      description: Create a new network configuration.
      tags:
      - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        '201':
          description: Network created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '400':
          description: Invalid network configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /config/comm-policies:
    get:
      operationId: listCommPolicies
      summary: Teradata List Communication Policies
      description: Retrieve all configured communication policies.
      tags:
      - Configuration
      responses:
        '200':
          description: List of communication policies retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommPolicy'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createCommPolicy
      summary: Teradata Create Communication Policy
      description: Create a new communication policy.
      tags:
      - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommPolicy'
      responses:
        '201':
          description: Communication policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommPolicy'
        '400':
          description: Invalid communication policy configuration.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Bridge:
      type: object
      description: A bridge connecting two systems.
      properties:
        id:
          type: string
          description: Unique bridge identifier.
          example: brg-001
        name:
          type: string
          description: Bridge name.
          example: bridge-east-01
        sourceSystemId:
          type: string
          description: Source system identifier.
          example: sys-001
        targetSystemId:
          type: string
          description: Target system identifier.
          example: sys-002
        status:
          type: string
          description: Bridge status.
          example: active
    System:
      type: object
      description: A system registered in QueryGrid.
      properties:
        id:
          type: string
          description: Unique system identifier.
          example: sys-001
        name:
          type: string
          description: System name.
          example: vantage-prod
        type:
          type: string
          description: System type.
          enum:
          - teradata
          - hadoop
          - spark
          - hive
          - presto
          - oracle
          example: teradata
        dataCenterId:
          type: string
          description: Parent data center identifier.
          example: dc-001
        status:
          type: string
          description: System status.
          example: active
        hostname:
          type: string
          description: System hostname.
          example: vantage01.example.com
    Network:
      type: object
      description: A network configuration.
      properties:
        id:
          type: string
          description: Unique network identifier.
          example: net-001
        name:
          type: string
          description: Network name.
          example: internal-network
        subnet:
          type: string
          description: Network subnet.
          example: 10.0.0.0/16
        description:
          type: string
          description: Network description.
          example: Internal QueryGrid network
    CommPolicy:
      type: object
      description: A communication policy configuration.
      properties:
        id:
          type: string
          description: Unique policy identifier.
          example: cp-001
        name:
          type: string
          description: Policy name.
          example: default-comm-policy
        encryption:
          type: boolean
          description: Whether encryption is enabled.
          example: true
        compression:
          type: boolean
          description: Whether compression is enabled.
          example: true
        maxBandwidth:
          type: integer
          description: Maximum bandwidth in Mbps.
          example: 1000
    Fabric:
      type: object
      description: A data fabric configuration.
      properties:
        id:
          type: string
          description: Unique fabric identifier.
          example: fab-001
        name:
          type: string
          description: Fabric name.
          example: enterprise-fabric
        description:
          type: string
          description: Fabric description.
          example: Enterprise data fabric for cross-system analytics
        status:
          type: string
          description: Fabric status.
          example: active
    Connector:
      type: object
      description: A connector for system integration.
      properties:
        id:
          type: string
          description: Unique connector identifier.
          example: conn-001
        name:
          type: string
          description: Connector name.
          example: tdch-connector
        type:
          type: string
          description: Connector type.
          example: tdch
        version:
          type: string
          description: Connector version.
          example: 1.5.0
        status:
          type: string
          description: Connector status.
          example: active
    DataCenter:
      type: object
      description: A data center configuration.
      properties:
        id:
          type: string
          description: Unique data center identifier.
          example: dc-001
        name:
          type: string
          description: Data center name.
          example: dc-east-01
        description:
          type: string
          description: Data center description.
          example: East coast primary data center
        location:
          type: string
          description: Physical location.
          example: US-East
    Link:
      type: object
      description: A link between connected systems.
      properties:
        id:
          type: string
          description: Unique link identifier.
          example: lnk-001
        name:
          type: string
          description: Link name.
          example: vantage-to-hadoop
        sourceConnectorId:
          type: string
          description: Source connector identifier.
          example: conn-001
        targetConnectorId:
          type: string
          description: Target connector identifier.
          example: conn-002
        fabricId:
          type: string
          description: Parent fabric identifier.
          example: fab-001
        status:
          type: string
          description: Link status.
          example: active
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with QueryGrid Manager credentials.
